{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_archiving/download_job_artifacts

    Displays a list of job artifact files that can be downloaded.

    Example context (json):
    {
        "job": {
            "id": 123,
            "timecreated": 1700000000,
            "cm": {
                "id": 456,
                "name": "Example Activity",
                "url": "https://foo.bar.baz/mod/example/view.php?id=456"
            }
        },
        "files": [
            {
                "deleted": false,
                "filename": "file1.txt",
                "filesize": "13.37 MiB",
                "filetype": "text/plain",
                "timecreated": 1700000000,
                "timemodified": 1700000000,
                "retentiontime": null,
                "sha256sum": "abc123def456...",
                "tsp": null,
                "storagedriver": "archivingstore_local",
                "downloadurl": "https://foo.bar.baz/file1.txt",
                "deleteurl": "https://foo.bar.baz/action/delete.php"
            },
            {
                "deleted": false,
                "filename": "file2.txt",
                "filesize": "42.00 KiB",
                "filetype": "text/plain",
                "timecreated": 1700000001,
                "timemodified": 1700000001,
                "retentiontime": {
                    "absolute": 1800000000,
                    "relative": "in 115 days",
                },
                "sha256sum": "abc789def012...",
                "tsp": {
                    "timecreated": 1700000001,
                    "server": "https://tsp.example.com",
                    "querydownloadurl": "https://foo.bar.baz/get-tsp?type=query",
                    "replydownloadurl": "https://foo.bar.baz/get-tsp?type=reply"
                },
                "storagedriver": "archivingstore_local",
                "downloadurl": "https://foo.bar.baz/file2.txt",
                "deleteurl": "https://foo.bar.baz/action/delete.php"
            }
        ],
        "urls": {
            "back": "https://foo.bar.baz"
        }
    }
}}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{#str}} download_job_artifacts, local_archiving {{/str}}</h2>
            <p>{{#str}} download_job_artifacts_desc, local_archiving {{/str}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table" style="max-width: 600px;">
                <tr>
                    <td>{{#str}} archive_job, local_archiving {{/str}}</td>
                    <td>
                        <a href="{{{ urls.back }}}">
                            #{{ job.id }} ({{#userdate}} {{job.timecreated}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}})
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>{{#str}} activity {{/str}}</td>
                    <td><a href="{{{ job.cm.url }}}">{{{ job.cm.name }}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        {{#files}}
            <div class="col-12 col-lg-6 p-3">
                <div class="card h-100">
                    <div class="card-header">
                        <i class="fa-regular fa-file"></i>&nbsp;
                        <strong>{{filename}}</strong>
                    </div>

                    <div class="card-body p-2 {{#deleted}} text-muted {{/deleted}}">
                        <ul class="list-group p-0 list-group-flush">
                            <li class="list-group-item">
                                <i class="fa-regular fa-file-lines"></i>&nbsp;
                                <strong>{{#str}} type, local_archiving {{/str}}:</strong>
                                {{filetype}}
                            </li>
                            <li class="list-group-item">
                                <i class="fa-regular fa-floppy-disk"></i>&nbsp;
                                <strong>{{#str}} size {{/str}}:</strong>
                                {{filesize}}
                            </li>
                            <li class="list-group-item">
                                <i class="fa-regular fa-calendar"></i>&nbsp;
                                <strong>{{#str}} timecreated {{/str}}:</strong>
                                {{#userdate}} {{timecreated}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}
                            </li>
                            <li class="list-group-item">
                                <i class="fa-solid fa-trash"></i>&nbsp;
                                <strong>{{#str}} automatic_deletion, local_archiving {{/str}}:</strong>
                                {{#retentiontime}}
                                    {{#str}} file_will_be_deleted_in, local_archiving {{/str}}
                                    {{relative}}
                                    ({{#userdate}} {{absolute}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}})
                                {{/retentiontime}}
                                {{^retentiontime}}
                                    <span>{{#str}} never {{/str}}</span>
                                {{/retentiontime}}
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-database"></i>&nbsp;
                                <strong>{{#str}} subplugintype_archivingstore, local_archiving {{/str}}:</strong>
                                {{storagedriver}}
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-hashtag"></i>&nbsp;
                                <strong>{{#str}} checksum, local_archiving {{/str}} (SHA256):</strong>
                                <code class="{{^deleted}}text-body{{/deleted}}{{#deleted}}text-muted{{/deleted}}" style="word-break: break-all;">{{sha256sum}}</code>
                            </li>
                            <li class="list-group-item">
                                <i class="fa-solid fa-file-contract"></i>&nbsp;
                                <strong>{{#str}} signature, local_archiving {{/str}} (TSP):</strong>
                                {{#tsp}}
                                    {{#str}} signed_on, local_archiving {{/str}}
                                    <code class="{{^deleted}}text-body{{/deleted}}{{#deleted}}text-muted{{/deleted}}">{{#userdate}} {{tsp.timecreated}}, {{#str}} strftimedatetimeaccurate, core_langconfig {{/str}} {{/userdate}}</code>
                                    {{#str}} signed_by, local_archiving {{/str}}
                                    <code class="{{^deleted}}text-body{{/deleted}}{{#deleted}}text-muted{{/deleted}}">{{tsp.server}}</code>
                                    <br>
                                    <a href="{{{tsp.querydownloadurl}}}" target="_blank" class="{{#deleted}}text-muted{{/deleted}}">
                                        {{#pix}} a/download_all, core, {{#str}} downloadfile {{/str}} {{/pix}}{{#str}} tsp_query_filename, local_archiving {{/str}}
                                    </a>
                                    &nbsp;&ndash;&nbsp;
                                    <a href="{{{tsp.replydownloadurl}}}" target="_blank" class="{{#deleted}}text-muted{{/deleted}}">
                                        {{#pix}} a/download_all, core, {{#str}} downloadfile {{/str}} {{/pix}}{{#str}} tsp_reply_filename, local_archiving {{/str}}
                                    </a>
                                {{/tsp}}
                                {{^tsp}}
                                    <span>{{#str}} not_signed, local_archiving {{/str}}</span>
                                {{/tsp}}
                            </li>
                        </ul>
                    </div>

                    <div class="card-footer text-center">
                        {{^deleted}}
                            <a href="{{{downloadurl}}}" class="btn btn-success mx-1" role="button">
                                <i class="fa fa-download"></i>&nbsp;
                                {{#str}} download {{/str}}
                            </a>
                            {{#deleteurl}}
                                <a href="{{{deleteurl}}}" class="btn btn-danger mx-1" role="button">
                            {{/deleteurl}}
                            {{^deleteurl}}
                                <a href="#" class="btn btn-outline-danger mx-1 disabled" role="button" aria-disabled="true">
                            {{/deleteurl}}
                                <i class="fa fa-trash"></i>&nbsp;
                                {{#str}} delete {{/str}}
                            </a>
                        {{/deleted}}
                        {{#deleted}}
                            <span class="text-muted">
                                {{#str}} this_file_was_deleted, local_archiving {{/str}} &ndash;
                                {{#userdate}} {{timemodified}}, {{#str}} strftimedatetimeaccurate, core_langconfig {{/str}} {{/userdate}}
                            </span>
                        {{/deleted}}
                    </div>
                </div>
            </div>
        {{/files}}

        {{^files}}
            <div class="col-sm-12">
                <p>{{#str}} no_files_available, local_archiving {{/str}}</p>
            </div>
        {{/files}}
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <a href="{{{urls.back}}}" class="btn btn-secondary">{{#str}} back_to_overview, local_archiving {{/str}}</a>
        </div>
    </div>
</div>

