{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_archiving/job_logs

    Job log overview page.

    Example context (json):
    {
        "job": {
            "id": 1,
            "status": {
                "text": "Completed",
                "help": "The job has been completed.",
                "color": "success"
            },
            "metadata": [
                {"key": "foo", "value": "bar"},
                {"key": "lorem", "value": "ipsum"}
            ],
            "completed": 1,
            "timecreated": 1747836796,
            "timemodified": 1747836808,
            "logs": "raw log data here"
        },
        "urls": {
            "back": "https://foo.bar.baz",
            "refresh": "https://foo.bar.baz/whatever.php"
        }
    }
}}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{#str}} archive_job_logs, local_archiving {{/str}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div style="max-width: 600px;">
                <table class="table">
                    <tr>
                        <td>{{#str}} jobid, local_archiving {{/str}}</td>
                        <td>{{job.id}}</td>
                    </tr>
                    <tr>
                        <td>{{#str}} status {{/str}}</td>
                        <td>
                <span class="badge badge-{{job.status.color}}"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{{job.status.help}}"
                >
                    {{job.status.text}}
                </span>
                        </td>
                    </tr>
                    <tr>
                        <td>{{#str}} timecreated {{/str}}</td>
                        <td>
                            {{#userdate}} {{job.timecreated}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{#str}} lastmodified {{/str}}</td>
                        <td>
                            {{#userdate}} {{job.timemodified}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-6">
            <h5>TEMP: Job Metadata (This will be moved to another page!)</h5>
            <ul class="list-group small">
                {{#job.metadata}}
                    <li class="list-group-item">
                        {{key}}
                        <span class="badge badge-secondary">{{value}}</span>
                    </li>
                {{/job.metadata}}
                {{^job.metadata}}
                    <li class="list-group-item">
                        <span class="text-muted">Nothing to show yet ...</span>
                    </li>
                {{/job.metadata}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>
                {{#str}} logs {{/str}}
                <a
                    href="{{{urls.refresh}}}"
                    class="h4 mx-1"
                    title="{{#str}} refresh, moodle {{/str}}"
                    data-toggle="tooltip"
                    data-placement="top"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                >
                    <i class="fa fa-rotate-right"></i>
                </a>
            </h3>
            <div class="p-2 mb-2" style="background-color: #efefef; overflow: auto; max-height: 80vh;">
                {{#job.logs}}
                    <pre class="m-0" style="overflow: unset;">{{#job.logs}}{{{.}}}{{/job.logs}}</pre>
                {{/job.logs}}
                {{^job.logs}}
                    <p>{{#str}} no_logs_available_desc, local_archiving {{/str}}</p>
                {{/job.logs}}
                {{^job.completed}}
                    <div class="d-flex py-2 pl-1 text-black-50">
                        <div class="spinner-grow mr-1" style="width: 0.4rem; height: 0.4rem; animation-duration: 1s;" role="status"></div>
                        <div class="spinner-grow mr-1" style="width: 0.4rem; height: 0.4rem; animation-duration: 1s;" role="status"></div>
                        <div class="spinner-grow mr-1" style="width: 0.4rem; height: 0.4rem; animation-duration: 1s;" role="status"></div>
                    </div>
                {{/job.completed}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{{urls.back}}}" class="btn btn-secondary">{{#str}} back_to_overview, local_archiving {{/str}}</a>
        </div>
    </div>
</div>
